@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Raleway");
* {
  box-sizing: border-box; }

.row::after {
  content: "";
  clear: both;
  display: block; }

[class*="col-"] {
  float: left;
  padding: 15px; }

html {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden; }

.header h1 {
  background-color: #FB8C00;
  color: white;
  border: solid;
  border-color: white;
  padding: 2em;
  font-size: 5vw;
  text-align: center;
  position: relative;
  margin: auto;
  opacity: 0.95;
  border-radius: 50px; }

.pageWrapper {
  height: 100vh; }

.aboutWrapper {
  height: 80vh; }

.help {
  height: 100px;
  display: flex;
  align-items: center;
  margin: 0 auto; }

.in {
  position: relative;
  margin: auto; }

.form {
  position: relative;
  width: 80vw;
  margin: 0 auto;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 20px;
  border-radius: 3px;
  align-items: center; }

h1 {
  box-sizing: border-box;
  padding: 20px;
  font-size: 3vw;
  text-align: center; }

input {
  margin: 0 auto;
  width: 40vw;
  display: block;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px #FB8C00;
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #FB8C00 4%);
  background-position: -40vw 0;
  background-size: 40vw 100%;
  background-repeat: no-repeat;
  color: #955300;
  font-size: 2vw; }
  input:focus, input:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0; }
  input::-webkit-input-placeholder {
    color: #FB8C00;
    font-size: 11px;
    transform: translateY(-20px);
    visibility: visible !important; }

button {
  border: none;
  background: #FB8C00;
  cursor: pointer;
  border-radius: 3px;
  padding: 6px;
  width: 200px;
  color: white;
  margin-left: 25px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  align-items: center; }
  button:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2); }

.again {
  width: 40%;
  height: 42px;
  border-radius: 50px;
  background: #FB8C00;
  white-space: nowrap;
  padding: 13px;
  color: white;
  transition: all 0.2s ease;
  font-family: Roboto, sans-serif;
  text-decoration: none;
  text-align: center;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  margin: 0 auto; }

.follow {
  width: 42px;
  height: 42px;
  border-radius: 50px;
  background: #FB8C00;
  display: inline-block;
  margin: 50px calc(50% - 21px);
  white-space: nowrap;
  padding: 13px;
  color: white;
  transition: all 0.2s ease;
  font-family: Roboto, sans-serif;
  text-decoration: none;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2); }
  .follow i {
    margin-right: 20px;
    transition: margin-right 0.2s ease; }
  .follow:hover {
    width: 134px;
    transform: translateX(-50px); }
    .follow:hover i {
      margin-right: 10px; }

.mapper {
  align-items: center;
  margin: 0 auto; }

#map {
  height: 85%;
  width: 100%; }

.footer {
  background-color: #37474f;
  color: #fafafa;
  text-align: center;
  font-size: 16px;
  padding: 15px; }

.footer p1 {
  color: #fafafa;
  font-size: 10px; }

/* For desktop: */
.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%; }

  .parallax {
    height: 100vh;
    display: flex;
    align-items: center;
    margin: 0 auto;
    background-attachment: none;
    background-position: center;
    background-repeat: none;
    background-size: cover; }

  .follow {
    width: 134px;
    transform: translateX(-50px); } }
@media only screen and (min-width: 769px) {
  .parallax {
    height: 100vh;
    display: flex;
    align-items: center;
    margin: 0 auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }

  .follow {
    width: 42px; } }

/*# sourceMappingURL=style.css.map */
